<ion-content>
  <ion-item>
    <h1>Code Examples</h1>
  </ion-item>

  <ion-item lines="none">
    <p>
      Below youll find the latest public projects I've worked on. All of my projects are made from scatch using Angular and Ionic since that stack always provides you with a solid, ready to ship base project.

    </p>

    <br />
    <br />

  </ion-item>
  <ion-list>

    <ion-card class="codeCard"> 
      <ion-card-content>
        <div class="codeCardContent">
          
        </div>
      </ion-card-content>
    </ion-card>


  </ion-list>


</ion-content>