<ion-tabs class="tonderTabs">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about">
      <ion-icon class="aboutIcon" name="flash-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="portfolio">
      <ion-icon class="portfolioIcon" name="laptop-outline"></ion-icon>
      <ion-label>Portfolio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resume">
      <ion-icon class="resumeIcon" name="reader-outline"></ion-icon>
      <ion-label>Resume</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
