ion-tab-bar {
  display: flex;
  justify-content: space-evenly;
}

.tonderTabs {
  position: unset !important;
}

.aboutIcon {
  color: orange;
}

.portfolioIcon {
  color: blueviolet;
}

.resumeIcon {
  color: green;
}