ion-tab-bar {
  display: flex;
  justify-content: space-evenly;
}

.tonderTabs {
  position: unset !important;
}

.aboutIcon {
  color: orange;
}

.portfolioIcon {
  color: blueviolet;
}

.resumeIcon {
  color: green;
}

.codeIcon {
  color: rgb(25, 85, 238);
}