@use '../../theme/variables.scss' as vars;

.workDateRange {
    margin: 0;
    font-size: 15px;
}

h1,
h2,
h3 {
    color: vars.$tndr1-yellow;
}

.ion-page {
    flex-direction: column;
}

.portfolioAvatar {
    border-radius: 50%;
    margin: auto 5% auto 0;
}

.portfolioAvatarImage {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-top: 2%;
    background-color: white;
}

.taskName {
    display: flex;
    text-align: center;
    width: 250px;

}

.slidesImage {
    padding: 1%;
    width: 80%;

}

.slideTitle {
    color: black;

    :visited {
        color: orange;
    }
}


.slideImageContainer {
    margin-bottom: 20px;
    width: 500px;
    height: 260px;

}



.slide {
    transition: transform .2s;
    /* Animation */
    margin: auto;
    width: 40%;
}

.slide:hover {
    transform: scale(1.6);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    // background-color: red;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: -220px;
    width: 37.9%;

}

.portfolioItem {

    padding-top: 30px;
    --inner-padding-bottom: 35px
}

.task {
    text-align: start;
    margin-left: 5px;
}

.portfolioItemList {
    display: flex;
    flex-direction: column;
    // margin-left: 90px;
    margin: auto;
    width: 95%;
}

.taskItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}



.taskItemDesc {
    width: 100%;
    margin: auto;
    text-align: justify;
}

.stackIconsItem {
    display: flex;
    flex-direction: row;
}

.stackIcon {
    width: 10%;
    height: 10%;
    padding: 1%;
}

.slidesComponent {
    margin: auto;
}

.slideElement {
    margin-bottom: 10%;
}

.portfolioComponent {
    width: 95%;
    margin: auto;
}

.jobStackGalleryComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.jobDescText {
    width: 99%;
}

.detailCard {
        background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
}



@media screen and (min-width: 800px) {


    .jobDescText {
        width: 90%;
    }


    .taskItemDesc {
        width: 75%;
        margin-left: 2%;
        text-align: justify;
    }

    .taskItem {
        display: flex;
        justify-content: space-evenly;
    }

    .portfolioComponent {
        width: 85%;
        margin: auto;
    }


    .portfolioAvatar {
        border-radius: 50%;
        margin: auto 5% auto 0;
    }

    .portfolioAvatarImage {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 2%;
        background-color: white;
    }

    .portfolioItemList {
        display: flex;
        flex-direction: row;
        // margin-left: 90px;
        // width: 55%;
    }

    .jobStackGalleryComponent {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
}