  <ion-content [fullscreen]="true">
    <!-- OFFER  -->
    <ion-item>
      <h1>OFFER</h1>
    </ion-item>
    <ion-item lines="none">
      <p>
        <b>Full Stack Software Developer </b> with over 6 years of problem
        solving experience.

        <br />
        <br />
        Having worked in many different fields such as health, accounting and
        education my skill set includes working on Data Indexing apps, personal
        finance PWAs and Business Data Analysis.

        <br />
        <br />
        My problem solving skills include:

        <ion-list>
          <ion-item class="skillItem" *ngFor="let skill of skillList">
            <ion-icon class="skillIcon" name="{{skill.icon}}"></ion-icon>
            {{skill.name}}
          </ion-item>
        </ion-list>
      </p>
    </ion-item>
    <!-- END OFFER  -->

    <!-- SKILLS  -->
    <ion-item>
      <h1>STACK</h1>
    </ion-item>
    <ion-item lines="none">
      <p>
        My go-to stack:

        <br />
        <br />

        <ion-list>
          <ion-item class="toolItem" *ngFor="let tool of toolList">
            <ion-icon class="toolIcon" name="{{tool.icon}}"></ion-icon>
            {{tool.name}}
          </ion-item>
        </ion-list>

        <br />

        Other tools and software I have experience with:

        <ion-list>
          <ion-item class="toolItem" *ngFor="let tool of otherTools">
            <ion-icon class="otherToolIcon" name="{{tool.icon}}"></ion-icon>
            {{tool.name}}
          </ion-item>
        </ion-list>
      </p>
    </ion-item>
    <!-- END SKILLS  -->

    <!-- MISC  -->
    <ion-item>
      <h1>HOBBIES, INTERESTS & OTHERS</h1>
    </ion-item>
    <div class="hobbiesComponent" >
     
      <ion-item lines="none">
        <p>
          Coding aside, I enjoy horror movies, jumping rope, collecting, tinkering and playing
          video games. Check out some of my interests:
        </p>
      </ion-item>

      <ion-list class="hobbiesList">
      <ion-card
        class="miscCard"
       
        *ngFor="let hobbie of myHobbiesList"
      >
      
      <ion-card-title class="hobbieTitle">{{hobbie.title}}</ion-card-title>

        <ion-card-content class="hobbieCardContent">
          <img *ngIf="hobbie.isImage" class="hobbieImage"  src="{{hobbie.url}}" alt="" />

          <iframe *ngIf="!hobbie.isImage" [src]="hobbie.url | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </ion-card-content>
        <ion-card-content class="hobbieCardText">
          <ion-card-subtitle>{{hobbie.description}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-list>

    </div>
    <!-- END MISC  -->
  </ion-content>
<!-- </ion-header> -->
