@use '../../theme/variables.scss' as vars;

.toolListTitle {
  font-size: 20px;
}

h1, h2, h3 {
 color: vars.$tndr1-yellow;
}


.stackParagraph {
  margin-bottom: 10%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 2%;


  .hobbiesComponent {
    display: flex;
    flex-direction: column;
  }
}


.toolIcon {
  font-size: 18px;
  color: yellow;
  margin-left: 1%;
  margin-right: 13px;

}

.otherToolIcon {
  font-size: 18px;
  color: yellow;
  margin-left: 1%;
  margin-right: 13px;

}

#tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.miscCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //  width: 40%;
  //  height: 400px;


  width: 450px;

  // midnight city
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.hobbieImage {
  width: 45%;
  transition: transform .2s;
  /* Animation */

}

.hobbieImage:hover {
  transform: scale(1.6);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.miscCardImg {
  width: 45%;
}

.artCardImg {
  width: 55%;
}

ion-card-subtitle {
  color: white !important;
  font-weight: bold;
}


.skillItem {
  width: 100%;
  --border-color: #2d2d2d;
  color: white;
}

.toolItem {
  width: 100%;
  color: white;
  --border-color: #2d2d2d;

}

.hobbiesList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hobbieTitle {
  margin: 20px auto 20px auto;
  color: white;
}

.hobbieCardContent {
  display: flex;
  justify-content: center;
  padding: 0;
}

.hobbieCardText {
  text-align: center;
}

.aboutComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10%;
}

.skillsPart {
  width: 95%;
}

.sideCard {
  display: none;
}

.aboutPeeker {
  display: none;
}

  .skillIcon {
    font-size: 22px;
    color: yellow;
    margin: auto 15px auto 0;
    flex-shrink: 0;
  }

  .skillItemContainer {
    display: flex;
    flex-direction: row;
    
    p {
      font-size: 15px;
      margin: 6% auto;
    }
  }

@media screen and (min-width: 800px) {

.skillIcon {
  font-size: 18px;
  margin-right: 15px;
  color: yellow;
}
.aboutPeeker {
  display: inline;
}

.skillsPart {
  width: 70%;
}

.sideCard {
  display: block;
}

.aboutComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillsPart {
  width: 70%;
}
}