<!-- <ion-header [translucent]="true"> -->
  <!-- <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" style="height: 876px;">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <!-- <ion-item > -->
    <iframe style="width: 800px; margin-left: auto; margin-right: auto; display: flex; height: 100%;"  src="../../assets/images/resume_august2022.pdf" frameborder="0"></iframe>

  <!-- </ion  -item> -->
</ion-content>
