<ion-app >
  <div class="mainSide">

      <main id="body" style="height: 100%;">
 
        <div class="pfpContainer">
          <img class="pfp" src="../assets/images/tonderpfp.png" alt="">
        </div>
          
        <div class="titleContainer">
          
          <h2 class="titleTextMargin"> {{uname}} </h2>
          <h3 class="titleText titleTextMargin"> {{handle}} </h3>
          <h2 class="titleTextMargin"> {{lastNames}} </h2>

          <p class="titleText"> {{title}} </p>

        </div>
         

        <article class="descriptionContainer">

          <p class="workContainer">Currently working as a:</p>

          <div>
            
            <ul class="jobList">
              <li> <b style="color: white;"> > </b> Full Stack Developer
                @<a class='job' href="https://tuchequera.com" target="_blank">{{job1}}</a>
              </li>
              <li> <b style="color: white;"> > </b> Business Intelligence Analyst
                @<a href="https://apshealth.com/" taget="_blank">{{job2}}</a>
              </li>
              <li> <b style="color: white;"> > </b> Freelance Web3 Developer                                                </li>
            </ul>
          </div>

        </article>


        <div
        class="footer"
      >
      <p id="mobile-hmu" class="workContainer">Contact me: </p>
        <div id="social-icons">
        </div>

        <div class="footer-text-container">
          <p class="footer-text" >{{footer}}</p>
        </div>
        </div>
      </main>

  </div>
  <ion-router-outlet></ion-router-outlet>

</ion-app>
