<ion-app>
  <div class="mainSide">

    <main class="mainSideMain">

      <div class="pfpContainer">
        <img class="pfp" src="../assets/images/tonderpfp.png" alt="afrotonderPFP">
      </div>

      <div class="titleContainer">

        <h2 class="titleName titleTextMargin"> {{uname}} </h2>
        <h3 class="titleText titleTextMargin"> {{handle}} </h3>
        <h2 class="titleName titleTextMargin"> {{lastNames}} </h2>
        <p class="titleTextPositions"> {{title}} </p>

        <!-- <div>
          <p *ngFor="let title of titles" class=" "> {{title}} </p>

        </div> -->
      </div>


      <article class="descriptionContainer">

        <p class="workContainer">Currently working as a:</p>

        <div>

          <ion-list class="jobList">
            <div *ngFor="let job of jobList" class="listItem clearBG">
              <!-- <ion-icon name="flash-outline"></ion-icon> -->
              ⚡{{job.title}} @<a class='job' href="{{job.url}}" target="_blank">{{job.employer}}</a>

            </div>
          </ion-list>
        </div>

      </article>


      <div class="footer">
        <p id="mobile-hmu" class="workContainer">Contact me: </p>
        <div>
          <a *ngFor="let contact of contactIcons" href="{{contact.url}}" target="_blank">
            <img class="contactIcon" src="{{contact.source}}" alt="{{contact.alt}}">
          </a>
        </div>

        <div class="footer-text-container">
          <p class="footer-text">{{footer}}</p>
        </div>
      </div>
    </main>

  </div>
  <ion-router-outlet></ion-router-outlet>

</ion-app>