<ion-app >
  <div class="mainSide">

      <main id="body">

        <div id="main" style="width: 100%; height: 100%;">

            <header style="text-align: center; flex-direction: column;">

              <img id="avatar" />

              <p id="uname"> </p>

              <p id="title"> </p>

            </header>

        </div>

        <article id="description">



          <br/>


          <p class="workContainer">Currently working as a:</p>

          <div id="meet"> </div>

          <br/>


          <!-- <p id="feats" > ⚡ My main stack </p> -->

          <div class="tools-container">
              <!-- <section id="tools"></section> -->
          </div>

        </article>


        <div
        class="footer"
      >
      <p id="mobile-hmu" class="workContainer">Contact me: </p>
        <div id="social-icons">
        </div>

        <div class="footer-text-container">
          <p class="footer-text" ></p>
        </div>
      </div>
      </main>

  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
