
<div>


    <main class="mainSideMain">


      <div class="pfpContainer">
        <img class="pfp" src="../assets/images/tonder1.jpg" alt="afrotonderPFP">
      </div>

      <div class="titleContainer" *ngIf="animate">
        <h2 class="titleName titleTextMargin" @slideUp> {{uname}} </h2>
        <h3 class="titleText titleTextMargin" @slideUp> {{handle}} </h3>
        <h2 class="titleName titleTextMargin" @slideUp> {{lastNames}} </h2>
      
          <ion-list class="titleList">
            <div *ngFor="let title of titles" class="listItem clearBG" @slideUp>
              {{title}} 
            </div>
          </ion-list>
      </div>


      <div class="descriptionContainer" *ngIf="animate">
        <p class="workContainer">Currently working as a:</p>
        <div>
          <ion-list class="jobList ngmt-15">
            <div *ngFor="let job of jobList" class="listItem clearBG" @slideUp>
              {{job.title}} &#64; <a class='job' href="{{job.url}}" target="_blank">{{job.employer}}</a>
            </div>
          </ion-list>
        </div>
      </div>
       <div class="descriptionContainer" *ngIf="animate">
        <p class="workContainer">Notable Projects:</p>
          <ion-list class="jobList ngmt-15">
            <div *ngFor="let proj of highlightProjects" class="listItem clearBG" @slideUp>
              <p *ngIf="proj.url!==''" class="projectLink">⚡<a  class='job' href="{{proj.url}}" target="_blank">{{proj.title}}</a></p>
              
              <ion-list *ngIf="proj.url===''" style="display: flex; flex-direction: column;">
                <p class="projectLink">⚡<a class='job' href="{{proj.urls[0]}}" target="_blank">{{proj.title}} (iOS) </a></p>
                <p class="projectLink">⚡<a class='job' href="{{proj.urls[1]}}" target="_blank">{{proj.title}} (Android)</a></p>
              </ion-list>
            </div>
          </ion-list>
      </div>


      <div class="footer">
        <p id="mobile-hmu" class="workContainer">My Links: </p>
        <div class="mt-1 footerContainer">
          <div>
            <a *ngFor="let contact of contactIcons" href="{{contact.url}}" target="_blank">
            <img class="contactIcon" src="{{contact.source}}" alt="{{contact.alt}}">
          </a>

          </div>
          <div>
              <p class="footer-text">{{footer}}</p>
          </div>
        </div>

      </div>

      <div class="footer">
        <div class="mt-1 footerContainer">
          <div>
              <p class="footer-text">{{footer}}</p>
          </div>
        </div>

      </div>
    </main>

  </div>